$night: hsla(330, 10%, 4%, 1);
$eerie-black: hsla(206, 14%, 10%, 1);
$blood-red: hsla(359, 87%, 21%, 1);
$cornell-red: hsla(358, 76%, 36%, 1);
$cornell-red-2: hsla(359, 77%, 41%, 1);
$imperial-red: hsla(359, 77%, 56%, 1);
$silver: hsla(5, 7%, 67%, 1);
$timberwolf: hsla(0, 0%, 83%, 1);
$white-smoke: hsla(330, 9%, 96%, 1);
$white: hsla(0, 0%, 100%, 1);